.topbar {
  background: linear-gradient(to right, #1e3b1e, #2f5a2f);
  color: white;

  padding: 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar-title {
  font-size: 28px;
  font-family: cursive;
}

/* SEARCH CONTAINER */
.search-container {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 20px;
  padding: 5px;
  transition: all 0.3s ease;
}

/* INPUT */
.search-container input {
  border: none;
  outline: none;
  padding: 8px;
  font-size: 14px;
  width: 0;
  opacity: 0;
  transition: all 0.3s ease;
  background: transparent;
    color: black;
}

/* EXPANDED STATE */
.search-container.open input {
  width: 150px;
  opacity: 1;
  margin-right: 8px;
}

/* BUTTON */
.search-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}