/* ProfilePage.css */

.page {
  font-family: var(--sans);

  background: var(--bg);

  color: var(--text);

  min-height: 100vh;

  display: flex;

  flex-direction: column;
}

.header h1 {
  font-size: 40px;

  font-family: var(--heading);

  color: var(--text-h);
}

.avatar-icon {
  width: 40px;

  height: 40px;

  background: white;

  border-radius: 50%;

  border: 1px solid var(--border);
}

/* CONTENT */

.content {
  padding: 20px;

  text-align: center;
}

.name {
  font-family: var(--heading);

  font-size: 32px;

  margin-top: 20px;

  color: var(--accent);

  border-bottom: 5px solid var(--accent);

  display: inline-block;

  padding-bottom: 5px;
}

/* IMAGE BOX */

.image-box {
  margin: 30px auto 10px;

  width: 200px;

  height: 150px;

  background: var(--code-bg);

  border-radius: 15px;

  display: flex;

  justify-content: center;

  align-items: center;

  border: 1px solid var(--border);

  box-shadow: var(--shadow);
}

.image-text {
  font-family: var(--heading);

  color: var(--accent);
}

/* DESCRIPTION */

.description-section {
  margin-top: 30px;

  text-align: left;
}

.description-section h3 {
  font-family: var(--heading);

  font-size: 24px;

  color: var(--text-h);
}

.description-box {
  background: var(--code-bg);

  padding: 20px;

  border-radius: 15px;

  margin-top: 10px;

  color: var(--text);

  border: 1px solid var(--border);

  box-shadow: var(--shadow);
}